<h2>
<form action="/appointments/<%= @appointment.id %>" method="POST">
<input type="hidden" name="_method" value="patch">
Client Name: <input type="text" value="<%=@appointment.name%>" name="name"><br>
Email: <input type=text value="<%=@appointment.email%>" name="email"><br>
Look:
<select name="event">
<option value="Formal Affair" value="<%=@appointment.event%>" selected>Formal Affair</option>
<option value="Photo Session" value="<%=@appointment.event%>" selected>Photo Session</option>
<option value="Day Look" value="<%=@appointment.event%>" selected>Day Look</option>
<option value="Night Out" value="<%=@appointment.event%>" selected>Night Look</option>
</select><br>
Rate: $<input type="number" value="<%=@appointment.rate%>" name="rate"><br>
<input type=submit value="Done">
</form>
</h2>




