<nav>
    <ul>
        <li>
            <a href="clients/new">New Client</a>
        </li>
        <li class="nav__border">
            <a href="/clients">My Clients</a>
        </li>
        <li>
             <a href="/">Log Out</a>
        </li>
    </ul>
   
</nav>

<h2>My Clients<h2>

<% @clients = current_user.clients %> 
<% @clients.each do |a| %>

    <h3>Name: <%= a.name %><h2><br>
    <h3>Email: <%= a.email %><h2><br>
    <h2>Event: <%= a.event %><h2><br>
    <h2>Rate: $<%= a.rate %><h2><br>
    <a href="/clients/<%= a.id %>/edit" class="button">Edit</a>
    <%end%>
    
<% if @errors %>
  <% @errors.uniq.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>