<h2>Your Client:<h2>
Name: <%= @client.name %><br>
Email: <%= @client.email %><br>
Look: <%= @client.event %><br>
Rate: $<%= @client.rate %><br>

<form action="/clients/<%= @client.id %>/edit">
<input type="submit" value="Edit">
</form>


<form action="/clients/<%= @client.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>


  <ul>
        <li>
            <a href="/users/show">Home</a>
        </li>
        <li>
            <a href="/clients">My Clients</a>
        </li>
        <li>
            <a href="/clients/new">Create New Client</a>
        </li>
        <li>
             <a href="/">Log Out</a>
        </li>
    </ul>