<h2>Your Client:<h2>
Name: <%= @client.name %><br>
Email: <%= @client.email %><br>
Look: <%= @client.event %><br>
Rate: $<%= @client.rate %><br>

<form action="/clients/<%= @client.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>